.header{
    height: 34vw;
    width: 400px;
    margin: 30px auto;
    background: url('./../../assets/table.jpg') no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 60%;
    bottom: 10%;
    left: 10;
    animation: fadeIn 3s;
    margin-left: 40px;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(6vw, 22px);
    margin-top: 1opx;
    position: relative;
    line-height: 5.5vw;
}
.header-contents p{
    color: white;
    font-size: 2vw;
}

